

*{
    display: 100%;
    padding: 0%;
    margin: 0%;
}
@viewport {

    zoom:1;
    width:extend-to-zoom;
   
}

@-ms-viewport
{
    zoom:1;
    width:extend-to-zoom;
}

body {
    
   max-width: 100%;
   background-color: white;
   
}


/* img {
    
    margin-right:auto;
    margin-left: 40%;
    margin-top:16%;
    margin-bottom: 5%;
  
} */

button:hover { font-weight: 800; }
button:hover i { margin-right: 20px; }

button {
    display: 100%;
    max-width: 360px;
    position: absolute;
    width: 70px;
    height: 41px;
    left: 46%;
    top: 33.7%;
    transform: translateX(-50%);
    border-right: 2px solid darkred;
    border-bottom: 2px solid darkred;
    color: rgb(5, 5, 126);
    font-size: 15px;
    font-family: Calibri;
}

#one {
    left: 42.7%;
    top: 33.7%;
}
#two {
    
    left: 47.55%;
    top: 33.7%;
}

#three {
    
    left: 52.4%;
    top: 33.7%;
 }

#four {
    left: 42.7%;
    top: 40.7%;
}

#five {

    left: 47.55%;
    top: 40.7%;
}

#six {
    left: 52.4%;
    top: 40.7%;
}

#seven {
    left: 42.7%;
    top: 48%;
 }

#eight {
 
    left: 47.55%;
    top: 48%;
 }

#nine {
    left: 52.4%;
    top: 48%;
    
}

.Newgame {
    
    border: none;
    padding: 0%;
    margin: 0%;
    left: 47.5%;
    top: 16%;
    width: 120px;
    border-right:  2px solid purple;
    border-bottom: 2px solid purple;
}

a {
    text-decoration: none;
    font-family: 'Comic Sans MS';
    font-size: 20px;

}

#EndGame {

    visibility: hidden;
    background: none;
    border: none; 
    padding: 0%;
    margin: 0%;
    left: 47.5%;
    top: 70%;
    width: 350px;
    text-decoration: none;
    font-family: 'Comic Sans MS';
    font-size: 25px;
}

img {
right: 47.5%;
transform: translateX(20%)

}

@media screen and (max-width:360px) {

    body {
            width:100%;
            height: 740px;

        }
        
        #one {
            left: 21%;
            top: 33.7%;
        }

        #two {
    
            left: 46.0%;
            top: 33.7%;
        }
        
        #three {
            
            left: 71%;
            top: 33.7%;
         }
        
        #four {
            left: 21%;
            top: 40.7%;
        }
        
        #five {
        
            left: 46%;
            top: 40.7%;
        }
        
        #six {
            left: 71%;
            top: 40.7%;
        }
        
        #seven {
            left: 21%;
            top: 48%;
         }
        
        #eight {
         
            left: 46%;
            top: 48%;
         }
        
        #nine {
            left: 71%;
            top: 48%;
            
        }

        #EndGame {

            visibility: hidden;
            background: none;
            border: none; 
            padding: 0%;
            margin: 0%;
            left: 47.5%;
            top: 70%;
            width: 300px;
            text-decoration: none;
            font-family: 'Comic Sans MS';
            font-size: 25px;
        }

}

/* @media screen and (max-width:768px) {

    body {
            width:100%;
            height: 740px;

        }
        
        #one {
            left: 30.0%;
            top: 33.7%;
        }

        #two {
    
            left: 46.0%;
            top: 33.7%;
        }
        
        #three {
            
            left: 62.0%;
            top: 33.7%;
         }
        
        #four {
            left: 30%;
            top: 40.7%;
        }
        
        #five {
        
            left: 46%;
            top: 40.7%;
        }
        
        #six {
            left: 62%;
            top: 40.7%;
        }
        
        #seven {
            left: 30%;
            top: 48%;
         }
        
        #eight {
         
            left: 46%;
            top: 48%;
         }
        
        #nine {
            left: 62%;
            top: 48%;
            
        }
}  */
